<h4 style="text-align: center">Добро пожаловать в PizzaShop</h4>
<div class="container">
    <div class="row row-cols-2">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card text-dark bg-light mb-3" style="width: 25rem;">
            <img src="<%= product.path_to_image %>" class="card-img-top" alt="..." style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title"><%= product.title %></h5>
              <div class="card-text">
                <p style="height: 5rem"><%= product.description %></p>
                <div class="row row-cols-2">
                    <div class="col">Размер: <%= product.size.to_i %> см</div>
                    <div class="col">Острая: <%= product.is_spicy == true ? 'Да' : 'Нет' %></div>
                    <div class="col">Вегетарианская: <%= product.is_veg == true ? 'Да' : 'Нет' %></div>
                    <div class="col">Лучшая цена: <%= product.is_best_offer == true ? 'Да' : 'Нет' %></div>
                </div>
                <h6>Цена: <%= product.price %> руб.</h6>
              </div>
              <a href="#" class="btn btn-primary">В корзину</a>
            </div>
          </div>
      </div>
    <% end %>
    </div>
</div>
